h1{  
text-align:center;
}

ol{
font-size:30px; 
font-family: cursive;
color:#ffffff
}

body{
background: url('http://www.lovethispic.com/uploaded_images/154914-Welcome-To-Paradise.jpg');  
background-repeat:no-repeat;
background-size:cover;
  
}

p{
font-size:30px;
color:#ffffff
}

